<div class="metricas">

  <div class="metricas__card">
    <div class="metricas__card-content">
      <div class="metricas__top">
        <span class="metricas__icon-box metricas__icon-box--total" aria-hidden="true">
          <img
            class="metricas__icon"
            src="assets/iconos/Iconos-Sidebar%26Cards/Colaboradores/totalColab.svg"
            alt=""
          />
        </span>

        <span class="metricas__numero">{{ totalColaboradores }}</span>
      </div>

      <span class="metricas__label">Total colaboradores</span>
    </div>
  </div>

  <div class="metricas__card">
    <div class="metricas__card-content">
      <div class="metricas__top">
        <span class="metricas__icon-box metricas__icon-box--activos" aria-hidden="true">
          <img
            class="metricas__icon"
            src="assets/iconos/Iconos-Sidebar%26Cards/Colaboradores/colabActivos.svg"
            alt=""
          />
        </span>

        <span class="metricas__numero">{{ activos }}</span>
      </div>

      <span class="metricas__label">Activos</span>
    </div>
  </div>

  <div class="metricas__card">
    <div class="metricas__card-content">
      <div class="metricas__top">
        <span class="metricas__icon-box metricas__icon-box--inactivos" aria-hidden="true">
          <img
            class="metricas__icon"
            src="assets/iconos/Iconos-Sidebar%26Cards/Colaboradores/colabInactivos.svg"
            alt=""
          />
        </span>

        <span class="metricas__numero">{{ inactivos }}</span>
      </div>

      <span class="metricas__label">Inactivos</span>
    </div>
  </div>

  <div class="metricas__card">
    <div class="metricas__card-content">
      <div class="metricas__top">
        <span class="metricas__icon-box metricas__icon-box--asignados" aria-hidden="true">
          <img
            class="metricas__icon"
            src="assets/iconos/Iconos-Sidebar%26Cards/Colaboradores/colabAsignados.svg"
            alt=""
          />
        </span>

        <span class="metricas__numero">{{ asignados }}</span>
      </div>

      <span class="metricas__label">Asignados</span>
    </div>
  </div>

  <div class="metricas__card">
    <div class="metricas__card-content">
      <div class="metricas__top">
        <span class="metricas__icon-box metricas__icon-box--no-asignados" aria-hidden="true">
          <img
            class="metricas__icon"
            src="assets/iconos/Iconos-Sidebar%26Cards/Colaboradores/colabNoAsignados.svg"
            alt=""
          />
        </span>

        <span class="metricas__numero">{{ noAsignados }}</span>
      </div>

      <span class="metricas__label">No asignados</span>
    </div>
  </div>

</div>