<div class="filtros">
  <mat-form-field appearance="outline" class="filtros__search">
    <span class="filtros__search-icon"></span>

    <input
      matInput
      [(ngModel)]="busqueda"
      (ngModelChange)="emitirFiltros()"
      placeholder="Buscar proyecto, cliente, codigo..."
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="filtros__select">
    <mat-label>Estado</mat-label>
    <mat-select
      yPosition="below"
      [(ngModel)]="estado"
      (selectionChange)="emitirFiltros()"
    >
      <mat-option value="">Todos</mat-option>
      <mat-option *ngFor="let e of estados" [value]="e.nombre">
        {{ e.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="filtros__select">
    <mat-label>Tipo</mat-label>
    <mat-select
      yPosition="below"
      [(ngModel)]="tipo"
      (selectionChange)="emitirFiltros()"
    >
      <mat-option value="">Todos</mat-option>
      <mat-option *ngFor="let t of tipos" [value]="t.nombre">
        {{ t.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>