<div class="tabla__menu-wrapper">
  <button
    class="tabla__menu-btn"
    (click)="onToggleMenu($event)"
    title="Acciones"
  >
    <img src="assets/iconos/puntos.svg" alt="acciones" width="20" height="20" />
  </button>

  @if (menuAbiertoPara) {
    <div class="tabla__dropdown">
      @for (accion of acciones; track accion.id) {
        <button
          class="tabla__dropdown-item"
          [class.tabla__dropdown-item--danger]="accion.danger"
          (click)="onAccionClick(accion, $event)"
        >
          <img [src]="accion.icon" alt="{{ accion.label }}" width="15" height="15" />
          {{ accion.label }}
        </button>
      }
    </div>
  }
</div>
