<aside class="sidebar">

  <div class="sidebar-logo-container">
    <img src="/assets/imagenes/logo-isc.png" alt="Integrity Solutions">
  </div>

  <nav class="sidebar-nav">

    <a routerLink="/dashboard" routerLinkActive="nav-item-active" class="nav-item">
      <img src="/assets/iconos/dashboard.png" alt="dashboard">
      <span>Dashboard</span>
    </a>

    <a routerLink="/reportes" routerLinkActive="nav-item-active" class="nav-item">
      <div class="nav-item-content">
        <img src="/assets/iconos/Time-Report.png" alt="reportes">
        <span>Time Report</span>
      </div>
      <span class="nav-caret">⌃</span>
    </a>

    <div class="nav-subgroup">
      <a routerLink="/reportes/fechas" routerLinkActive="nav-subitem-active" class="nav-subitem">
        <img src="/assets/iconos/actividades.png" alt="actividades">
        <span>Fechas</span>
      </a>

      <a routerLink="/reportes/horas" routerLinkActive="nav-subitem-active" class="nav-subitem">
        <img src="/assets/iconos/seguimiento.png" alt="seguimiento">
        <span>Horas</span>
      </a>
    </div>

    <a routerLink="/proyectos" routerLinkActive="nav-item-active" class="nav-item">
      <img src="/assets/iconos/proyectos.png" alt="proyectos">
      <span>Proyectos</span>
    </a>

    <a routerLink="/lideres" routerLinkActive="nav-item-active" class="nav-item">
      <img src="/assets/iconos/lideres.png" alt="lideres">
      <span>Líderes</span>
    </a>

    <a routerLink="/colaboradores" routerLinkActive="nav-item-active" class="nav-item">
      <img src="/assets/iconos/colaboradores.png" alt="colaboradores">
      <span>Colaboradores</span>
    </a>

    <a routerLink="/clientes" routerLinkActive="nav-item-active" class="nav-item">
      <img src="/assets/iconos/clientes.png" alt="clientes">
      <span>Clientes</span>
    </a>

  </nav>

</aside>