@use '@angular/material' as mat;

@include mat.core();

$sgp-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Inter, sans-serif',
    plain-family: 'Inter, sans-serif',
  )
));

html {
  @include mat.all-component-themes($sgp-theme);
}
