<div style="display: contents">
  <div class="btn-descarga-wrap" style="position: relative;">
    <button class="btn-descargar enabled" [class.loading]="disabled" (click)="toggle()" [disabled]="disabled" type="button">
      Descargar
      <span class="material-symbols-outlined download-icon">file_download</span>
    </button>

    @if (abierto) {
      <div class="descargar__overlay" (click)="cerrar()"></div>
      <div class="descargar__panel">
        <p class="descargar__title">Seleccione el formato:</p>
        <button class="descargar__option" (click)="onPDF()" type="button">
          Descargar PDF
        </button>
        <button class="descargar__option" (click)="onExcel()" type="button">
          Descargar Excel
        </button>
      </div>
    }
  </div>
</div>