<div class="action-menu">
  <button
    class="action-menu__trigger"
    type="button"
    aria-label="Acciones"
    title="Acciones"
    [matMenuTriggerFor]="accionesMenu"
    (click)="onToggleMenu($event)"
  >
    <mat-icon aria-hidden="true">more_vert</mat-icon>
  </button>

  <mat-menu
    #accionesMenu="matMenu"
    class="action-menu__panel"
    xPosition="before"
    yPosition="below"
    [overlapTrigger]="false"
  >
    @for (accion of acciones; track accion.id) {
      <button
        mat-menu-item
        class="action-menu__item"
        type="button"
        [class.action-menu__item--danger]="accion.danger"
        [disabled]="accion.disabled"
        (click)="onAccionClick(accion, $event)"
      >
        @if (accion.icon) {
          <img [src]="accion.icon" alt="">
        } @else if (accion.id === 'ver-mas') {
          <mat-icon aria-hidden="true">visibility</mat-icon>
        } @else if (accion.id === 'editar') {
          <mat-icon aria-hidden="true">edit_square</mat-icon>
        } @else if (accion.id === 'registrar-salida') {
          <mat-icon aria-hidden="true">logout</mat-icon>
        } @else if (accion.id === 'eliminar') {
          <mat-icon aria-hidden="true">delete</mat-icon>
        } @else if (accion.id === 'inactivar') {
          <mat-icon aria-hidden="true">block</mat-icon>
        } @else if (accion.id === 'activar') {
          <mat-icon aria-hidden="true">check_circle</mat-icon>
        }

        <span>{{ accion.label }}</span>
      </button>
    }
  </mat-menu>
</div>
